# OS X
.DS_Store

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
/Pods
.bundle
.DS_Store
.rake_tasks
fastlane/screenshots
fastlane/report.xml
stacks.app.dSYM.zip
stacks.ipa
*.mobileprovision
.idea
ipas

# Bundler
.bundle

Pods/
/Carthage
/Example/build
UserInterfaceState.xcuserstate
/test_output
/fastlane/test_output
/vendor
/Gemfile.lock
/.swiftpm
/Package.resolved
